PySide6==6.11.2
langchain_openai==1.6.2
langchain_core
anthropic==1.11.0
tree-sitter==0.26.0
tree-sitter-python==0.25.0
tree-sitter-javascript==0.25.0
tree-sitter-json==0.24.8
ruff
sphinx
twine
build
yapf
wheel
gitpython>=3.1.58
qtconsole
pycodestyle
pydantic
jedi
pytest
pytest-qt
auto-py-to-exe
