name: JE_Editor Stable Python3.11

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 4 * * *"

permissions:
  contents: read

jobs:
  build_stable_version:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r dev_requirements.txt
      - name: Test Start Editor
        run: python ./test/qt_ui/unit_test/start_qt_ui.py
      - name: Test Extend Editor
        run: python ./test/qt_ui/unit_test/extend_test.py